$primary: #0c0922;
$secondary: rgb(79, 71, 122);
$textWhite: white;
$textBlack: #333;
$fontHeader: 'Rubik', sans-serif;
$fontText: 'Montserrat', sans-serif;
$backgroundColor: rgb(79, 71, 122);
$borderLight: #d2cfe2;
$headlineFontSize: 70px bold;
