@import 'variables';

.contactContainer {
  display: flex;
  flex-direction: column;

  h1 {
    text-align: center;
    font-size: xx-large;
  }
  .instruction {
    font-size: x-large;
    width: 70%;
  }
  @media (min-width: 450px) {
    width: 70%;
    margin: 0 auto;
  }

  .contactInformation {
    p {
      font-size: 25px;
    }
  }
}
