@import 'variables';

.expandableText {
  .list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.7s;
    padding: 0.5rem;
    border-top: 0.01px solid $borderLight;
    border-bottom: 0.01px solid $borderLight;
    h3 {
      color: $textWhite;
    }
    .iconBox {
      border: none;
      svg {
        width: 0.7rem;
        height: 0.7rem;
        color: $textWhite;
      }
    }
  }
  .list:hover {
    background-color: $secondary;
    opacity: 70%;
  }
  p {
    text-align: left;
    padding: 5px 15px;

    @media (min-width: 1500px) {
      padding: 0.25rem 1.5rem;
    }
    @media (min-width: 2500px) {
      padding: 0.5rem 3rem;
    }

    ul {
      padding: 0;
      li {
        ul {
          padding-left: 1rem;

          li {
            list-style: circle !important;
          }
        }
      }
    }
  }
  @media (min-width: 760px) {
    .list:hover {
      background-color: $secondary;
      opacity: 70%;
    }
  }
}
