@import 'variables';
.footer {
  background-color: $primary;
  padding: 0.5rem 0;
  position: relative;
  padding-top: 40px;
  font-size: 1.2rem;
  .contacts {
    display: none;
    @media (min-width: 450px) {
      display: flex;
      flex-direction: column;
    }
    li {
      line-height: 1.5;
    }
  }

  :global(.ant-modal) {
    top: unset;
    padding: 0;
    min-width: unset;
  }
  .wrapper {
    @media (min-width: 450px) {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }
  :global(.ant-modal-root) {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
  }

  :global(.ant-modal-wrap) {
    top: unset;
    bottom: 0;
    overflow: hidden;
  }

  :global(.ant-modal) {
    top: unset;
    padding: 0;
    min-width: unset;
  }
  :global(.ant-modal-body) {
    padding: 24px;
    font-size: 14px;
    line-height: 1.5715;
    word-wrap: break-word;
    background-color: black;
    opacity: 70%;
    color: white;

    p {
      color: $textWhite;
      text-align: left;
    }
  }

  ul {
    padding: 0;
  }
  a {
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $textWhite;
  }

  li {
    color: $textWhite;
    list-style: none;
    line-height: 1.5;
    text-align: center;
  }
  .social {
    display: flex;
    justify-content: center;

    a:hover {
      background-color: $secondary;
      opacity: 50%;
    }

    a {
      margin: 0 0.5rem;
    }
  }
  svg {
    width: 1rem;
    height: 1rem;
  }
  :global(.ant-modal-close) {
    color: $textWhite;
  }
  :global(.ant-modal-footer) {
    background-color: black;
    opacity: 70%;
    border: none;
  }

  :global(.ant-btn) {
    background-color: #d2cfe2;
  }

  :global(.ant-btn:hover) {
    border: 1px solid rgb(79, 71, 122);
    background-color: rgb(79, 71, 122);
    color: $textWhite;
  }

  :global(.ant-btn.ant-btn-primary) {
    background-color: rgb(79, 71, 122);
    color: $textWhite;
    width: 5rem;
  }

  :global(.ant-btn.ant-btn-primary:hover) {
    border: 1px solid white;
    color: white;
  }

  // :global(.ant-btn-primary) {
  //   border-color: #d2cfe2;
  // }
}
