@import 'variables';
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  // > div {
  //   @media (min-width: 760px) {
  //     height: 100vh;
  //   }
  // }

  h1 {
    font-family: $fontHeader;
    font-size: $headlineFontSize;
  }
  p {
    font-family: $fontText;
    text-align: center;
  }
  // :global(.__next) {
  //   @media (min-width: 760px) {
  //     height: 100vh;
  //   }
  // }
  .snipcart-modal__container {
    //  won't work
    margin-top: 3rem;
  }
}
