@import 'variables';
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;

  h1 {
    font-family: $fontHeader;
    font-size: $headlineFontSize;
  }
  p {
    font-family: $fontText;
    text-align: center;
  }

  .snipcart-modal__container {
    margin-top: 5.5rem;

    @media (min-width: 760px) {
      margin-top: 3rem;
    }
  }
  .snipcart-cart__content {
    overflow-y: scroll;
  }

  .ant-form-item-label > label {
    color: $textWhite;
  }
  .ant-col .ant-col-8 .ant-form-item-label {
    padding-right: 0;
  }
  .ant-form-item-label,
  > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
    color: $primary;
  }
  .ant-btn-primary {
    background-color: $borderLight;
    border: $borderLight;
    color: $textBlack;
    width: fit-content;
    font-family: $fontText;
    padding: 0;
    margin: 15px;
  }
  .ant-input {
    background-color: unset;
    color: $textWhite !important;
  }

  .ant-form-item-explain.ant-form-item-explain-error {
    color: #ff38b3;
  }

  .ant-form-item-label,
  > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
    color: #ff38b3;
  }

  .ant-form-item-control-input {
    color: $textWhite;
    background-color: unset;
  }
  .ant-form-item-control-input:active {
    background-color: unset;
  }

  // .ant-row ant-form-item {
  //   color: $textWhite;
  // }

  .ant-form-item-explain-error {
    border-bottom: #ff38b3;
  }

  .ant-form-item-control-input-content {
    color: #ff38b3;
  }

  .ant-btn-primary:hover {
    background-color: rgb(136, 129, 175);
    color: $textWhite;
    font-family: $fontText;
    padding: 0;
    margin: 15px;
  }
  .ant-input {
    background-color: $secondary;
    border-top: none;
    border-left: none;
    border-right: none;

    color: $textWhite;
  }
  .ant-input:hover {
    border-bottom: 1px solid #ff38b3;
  }
  .ant-input:active {
    border-bottom: 1px solid #ff38b3;
  }
  .ant-row .ant-form-item {
    margin-top: 20px;
  }
  .ant-form-horizontal {
    margin-top: 20px;
  }

  .ant-form-item-label > label {
    color: $textWhite;
  }
  .ant-form-item-label,
  > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
    color: $primary;
    margin-top: 10px !important;
  }

  .ant-form-item-required {
    color: $textWhite;
  }
  .ant-col .ant-form-item-label {
    color: $textWhite;
  }
  .ant-form-item-label,
  > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
    color: $textWhite;
  }

  .ant-select-selector {
    box-shadow: none;
  }

  .ant-select-single.ant-select-open .ant-select-selection-item {
    color: $textWhite;
    z-index: 2;
  }

  .ant-select-disabled.ant-select-open .ant-select-selection-item {
    border: none;
  }

  .ant-select-disabled.ant-select-open .ant-select-selection-item:focus {
    border: none;
  }

  .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input).ant-select-selector {
    border: none;
    box-shadow: none;
  }

  .ant-selelect-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input).ant-select-selector::after {
    border: none;
    box-shadow: none;
  }

  .ant-selelect-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input).ant-select-selector::before {
    border: none;
    box-shadow: none;
  }

  .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    background-color: $secondary;
    border-top: none;
    border-left: none;
    border-right: none;
  }
  .ant-select:not(.ant-select-customize-input) .ant-select-selector::after {
    background-color: $secondary;
    border: none;
  }

  .ant-select:not(.ant-select-customize-input) .ant-select-selector:hover {
    background-color: $secondary;
    border: 1px solid #ff38b3;
  }

  .ant-form-item-explain.ant-form-item-explain-error {
    color: #ff38b3;
  }

  // .--antd-wave-shadow-color{
  //   color: none;
  // }

  .ant-form-item-explain.ant-form-item-explain-error {
    border: 1px solid #ff38b3;
  }

  .ant-input-number-input {
    background-color: $secondary;
    color: $textWhite;

    // border: 1px solid #ff38b3;
  }
  .ant-select-dropdown {
    background-color: white;
    color: $secondary;
  }
  .ant-select-item-option-selected {
    background-color: white;
  }
  .ant-input-number-handler-down-inner svg {
    color: $primary;
  }
  .ant-input-number-handler-up-inner svg {
    color: $primary;
  }
  .ant-input-number-handler .ant-input-number-handler-up {
    border: 1px solid white;
    svg {
      color: aliceblue;
    }
  }

  // .ant-input-number-input{
  //   color: white;
  //   border: 0.1px #ff38b3 solid;
  // }

  // .ant-select-selection-item{
  //   padding-left: 10px;
  // }

  .ant-select-arrow {
    color: $textWhite;
  }
  .ant-form-item .ant-select {
    color: white;
    opacity: 50%;
  }
  .ant-select-item-option-content {
    background-color: white;
    color: $secondary;
    text-align: left;
    padding: 0;
  }

  .ant-select-item-option-content:hover {
    background-color: $secondary;
    color: $textWhite;
    opacity: 50%;

    // padding-left: 10px;
  }
  .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
    color: rgba(0, 0, 0, 0.85);
    font-weight: 600;
    background-color: white;
  }

  .ant-select-selection {
    background-color: $borderLight;
  }

  .ant-input-number {
    background-color: $borderLight;
  }

  .snipcart-add-item {
    background-color: $borderLight;
    border: $borderLight;
    color: $textBlack;
    width: 9rem;
    font-family: $fontText;
    padding: 9px;
    margin: 20px;
  }
  .snipcart-add-item:hover {
    background-color: rgb(136, 129, 175);
    color: $textWhite;
    font-family: $fontText;
    padding: 9px;
    margin: 20px;
  }

  .ant-row .ant-form-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
