@import 'variables';
.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  background-color: $primary;
  @media (min-width: 450px) {
    height: 3rem;
  }

  svg {
    width: 1rem;
    height: 1rem;

    @media (min-width: 450px) {
      display: none;
    }
  }
}
