@import 'variables';
.header {
  position: fixed;
  display: flex;
  width: 100%;
  z-index: 1000;
  justify-content: space-between;
  align-items: center;
  background-color: $primary;
  @media (min-width: 760px) {
    height: 3rem;
  }
  .logo {
    margin: 0.5rem;

    width: 4.5rem;
    height: 4.5rem;
  }
  .navigation {
    display: flex;
    width: 100%;
    height: 100%;

    justify-content: flex-end;
    .navigationContent {
      justify-content: flex-end;
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
    }
  }
  .langSwitcher {
    display: flex;
    align-items: center;
    height: 100%;
    color: $textWhite;
    .btnContainer {
      display: flex;
      justify-content: center;
    }

    @media (min-width: 760px) {
      display: none;
    }
  }
  .shoppingBasket {
    margin: 0 1rem;
    display: flex;
    align-items: center;
    color: white;
    height: 100%;
    // position: relative;
    div {
      display: flex;
      align-items: center;
      svg {
        width: 1rem;
        height: 1rem;
        z-index: 2;
      }
    }
  }

  .burgerMenu {
    display: flex;
    align-items: center;
    position: relative;
    svg {
      width: 1.4rem;
      height: 1.4rem;
      padding-right: 10px;
    }

    @media (min-width: 760px) {
      display: none;
    }
  }

  .itemsCount {
    position: relative;
    background-color: #ff38b3;
    overflow: hidden;
    height: 1rem;
    width: 1rem;
    line-height: 1rem;
    border-radius: 50%;
    text-align: center;
    font-size: 10px;

    bottom: 6px;
    right: 6px;
    z-index: -2;
    color: white;
  }
}
