.main {
  position: relative;
  @media (min-width: 760px) {
    display: flex;
  }
  > div {
    height: 100%;
    width: 100%;
  }
  :global(.slick-arrow) {
    cursor: pointer;
    &:global(.slick-prev) {
      &::before {
        color: blue;
        font-size: 50px;
        content: '<';
      }
    }
    &:global(.slick-next) {
      &::before {
        color: blue;
        font-size: 50px;
        content: '>';
      }
    }
  }
}
