@import 'variables';

.main {
  position: relative;

  @media (min-width: 760px) {
    margin: 0 auto;
    display: flex;
    width: 70%;
  }
  > div {
    height: 100%;
    width: 100%;
  }

  :global(.slick-arrow) {
    cursor: pointer;

    &:global(.slick-prev) {
      &::before {
        display: block;
        position: relative;
        bottom: 20px;
        right: -50px;
        font-size: 25px;
        color: gray;
        background-color: white;
        border: 2px solid gray;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        border-radius: 50%;
        width: 33px;
        height: 33px;
        z-index: 100;
        top: -80px;
      }
      @media (min-width: 760px) {
        width: 60px;
      }
    }
    &:global(.slick-next) {
      &::before {
        display: block;
        position: relative;
        right: 20px;
        bottom: 80px;
        font-size: 25px;
        color: gray;
        background-color: white;
        border: 2px solid gray;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        border-radius: 50%;
        width: 33px;
        height: 33px;
      }
      @media (min-width: 760px) {
        width: 60px;
      }
    }
  }

  @media (min-width: 450px) {
    width: 70%;
  }
}
