@import 'variables';

.main {
  position: relative;

  @media (min-width: 760px) {
    margin: 0 auto;
    display: flex;
    width: 70%;
  }
  > div {
    height: 100%;
    width: 100%;
  }

  :global(.slick-arrow) {
    cursor: pointer;

    &:global(.slick-prev) {
      &::before {
        color: black;
        font-size: 50px;
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        bottom: 70px;
        width: 80px;
        position: absolute;
      }
      @media (min-width: 760px) {
        width: 60px;
      }
    }
    &:global(.slick-next) {
      &::before {
        color: black;
        font-size: 50px;

        -webkit-transform: rotate(0deg);
        width: 80px;
        position: absolute;
        right: 10px;
        top: 20px;
        right: 0;
        bottom: 0;
        width: 100px;
        cursor: pointer;
        align-items: center;
        transform: translate3d(-50%, -50%, 0px);
        line-height: 1;
      }
      @media (min-width: 760px) {
        width: 60px;
      }
    }
  }

  @media (min-width: 450px) {
    width: 70%;
  }
}
