@import 'variables';

.langBtn {
  border: none;
  background-color: $primary;
  color: $textWhite;
  text-decoration: none;
  width: 1.5rem;
  background-color: $primary;
  color: $textWhite;
  color: $textWhite;
}
