.layoutSection {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
  @media (min-width: 450px) {
  }
}

.layoutChildrenSection {
  min-height: calc(100vh - 14rem);
  width: 100%;
  padding: 1rem;
  margin: auto;
  @media (min-width: 450px) {
    min-height: calc(100vh - 10rem);
    width: 70%;
  }
}
