@import 'variables';

.privacyContainer {
  padding-top: 2rem;
  margin: 0 1rem;
  @media (min-width: 760px) {
    width: 90%;
    margin: 0 auto;
  }
  @media (min-width: 1500px) {
    width: 70%;
    margin: 0 auto;
  }
  h1 {
    font-size: 2rem;
    font-family: $fontHeader;
    @media (min-width: 1500px) {
      text-align: center;
    }
  }
  .list {
    margin-top: 3rem;
    padding-left: 0;
    font-size: 1rem;

    @media (min-width: 1500px) {
      width: 70%;
      margin: 0 auto;
    }
    li {
      list-style: none;
    }
  }
}
