@import 'variables';
.productDetail {
  .topSection {
    margin-bottom: 15px;
    img {
      width: 50rem;
    }
    h1 {
      font-size: xx-large;
    }
    text-align: center;
  }
  .selectWrapper {
    position: relative;
  }
  .bottomSection {
    margin-top: 15px;
  }
  .price {
    font-weight: 900;
    font-size: xx-large;
  }
  .snipcartAddItem {
    button {
      margin-top: 15px;
      border: 1px solid $secondary;
      &:hover {
        background-color: $secondary;
        color: $textWhite;
      }
    }
  }
}
