@import 'variables';
.productOverView {
  padding: 0.5rem;
  font-size: 1rem;
  .productImg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  img {
    width: 50rem;
    height: auto;
    padding: 20px;
  }
  p {
    text-align: center;
    font-family: $fontHeader;
    font-size: 1rem;
    margin-top: 1.5px;
  }
  .selectWrapper {
    position: relative;
  }
  h1 {
    font-size: 25px;
  }

  .price {
    font-weight: 900;
    font-size: xx-large;
  }

  .topSection {
    margin-bottom: 15px;
    img {
      width: 50rem;
      box-shadow: 0 6px 7px rgba(0, 0, 0, 0.15);
    }
    h1 {
      font-size: 1rem;
    }
    text-align: center;
  }

  .selectWrapper {
    position: relative;
  }

  .bottomSection {
    margin-top: 15px;
  }
  .price {
    font-weight: 900;
    font-size: xx-large;
  }
  p {
    text-align: left;
  }
  .snipcartAddItem {
    margin: auto;
    button:disabled {
      cursor: not-allowed;
    }
  }
}
