@import 'variables';

.productOverView {
  padding: 0.5rem;

  .productImg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  img {
    width: 50rem;
    height: auto;
  }
  p {
    text-align: center;
    font-family: $fontHeader;
  }
  .selectWrapper {
    position: relative;
  }
}
