@import 'variables';

.productTeaser {
  color: aliceblue;
  height: 100%;

  .content {
    height: 100%;
  }
  @media (min-width: 760px) {
    width: 50%;
    flex-basis: 50%;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 0;
  }
  img {
    max-width: 100%;
    height: auto;
    padding: 10px;
  }
  @media (min-width: 1700px) {
    width: 70%;
    margin: 0 auto;
  }
}
