@import 'variables';

.productTeaser {
  color: $textWhite;
  height: 100%;

  @media (min-width: 760px) {
    width: 50%;
    flex-basis: 50%;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 0;
  }
  @media (min-width: 1700px) {
    width: 70%;
    margin: 0 auto;
  }


  .content {
    height: 100%;
    .productText {
      height: 20%;
    }
    .bannerText {
      height: 20%;
    }
    img {
      max-width: 100%;
      height: auto;
      padding-top: 1.5rem !important;
    }
  }
  .infoWrapper {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;

    .inputBlock {
      form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }



      p, h1 {
        display: flex;
        padding: 0;
        align-items: center;
        margin:  0 1rem;
      }
      h1 {
        margin-bottom: 0.5rem;
      }
    }
      .priceAmount {
        display: flex;
        align-items: baseline;
        margin-left: 1rem;
        h1 {
          padding: 0;
          font-size: 2rem;
          width: fit-content;
        }
        p {
          margin: 0 0 0 1rem ;
        }
      }
    .snipcartAddItem {
      margin: auto;
      button:disabled {
        cursor: not-allowed;
      }
    }
  }
}
