@import 'variables';
.productDetail {
  display: flex;
  flex-direction: column;
  .productName {
    font-size: 1.5rem;
    padding-left: 15px;
  }
  p {
    text-align: left;
    padding: 0 15px;
  }
  .taste {
    margin-bottom: 15px;
    height: 3rem;
  }
  .topSection {
    margin-bottom: 15px;

    img {
      width: 50rem;
      box-shadow: 0 6px 7px rgba(0, 0, 0, 0.15);
    }
    text-align: center;
  }

  .selectWrapper {
    position: relative;

  }

  .price {
    font-weight: 900;
    font-size: 25px;
    @media (min-width: 575px) {
      margin-bottom: auto;
    }
  }
  .snipcartAddItem {
    margin: 0 auto 15px auto;
    @media (min-width: 575px) {
      margin: 15px auto;
    }
    :global(.snipcart-add-item) {
      margin: 15px;
      padding: 8px 9px;
      width: fit-content;
    }
    button:disabled {
      cursor: not-allowed;
    }
    display: flex;
    flex-direction: column;
    justify-content: left;
    @media (min-width: 460px) {
      margin-left: auto;
      display: block;
    }
  }
}
