@import 'variables';
.productOverView {
  padding: 0.5rem;
  font-size: 1rem;
  .productImg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  img {
    width: 50rem;
    height: auto;
    padding: 20px;
  }
  p {
    text-align: left;
    font-family: $fontHeader;
    font-size: 1rem;
    margin-top: 1.5px;
    padding: 0 15px;
  }
  .taste {
    margin-top: 15px;
  }
  .productName {
    font-size: 25px;
  }
  .selectWrapper {
    position: relative;

  }

  .price {
    font-weight: 900;
    font-size: 25px;
    @media (min-width: 575px) {
      margin-bottom: 0;
      margin-top: 15px;
    }
  }

  .topSection {
    margin-bottom: 15px;
    img {
      width: 50rem;
      box-shadow: 0 6px 7px rgba(0, 0, 0, 0.15);
    }
    h1 {
      font-size: 1rem;
    }
    text-align: center;
  }

  .bottomSection {
    margin-top: 15px;
  }
  .snipcartAddItem {
    margin: 0 auto 15px auto;
    @media (min-width: 575px) {
      margin: 15px auto;
    }
    :global(.snipcart-add-item) {
      margin: 0 15px;
      padding: 8px 9px;
      width: fit-content;
      @media (min-width: 575px) {
        margin: 15px;
      }
    }
    button:disabled {
      cursor: not-allowed;
    }
    display: flex;
    flex-direction: column;
    justify-content: left;
    @media (min-width: 460px) {
      margin-left: auto;
      display: block;
    }
  }
}
