@import 'variables';

.quizContainer {
  margin: 3rem auto;
  width: 90%;
  @media (min-width: 760px) {
    width: 70%;
  }
  @media (min-width: 1500px) {
    width: 50%;
  }
  .mainHeadline {
    text-align: left;
    color: $textWhite;
    font-size: xx-large;
  }
  .quest {
    text-align: center;

    .invitation {
      text-align: center;
      padding: 0 5px 0 5px;
      margin-bottom: 15px;
      font-size: 1.1rem;
      @media (min-width: 460px) {
        font-size: 1.25rem;
      }
    }
  }
  .result {
    svg {
      color: $borderLight;
    }
    svg:hover,
    svg:focus {
      color: $primary;
    }
    :global(.ant-result-title) {
      color: $textWhite;
      margin: 5px;
    }
    :global(.ant-result-subtitle) {
      font-size: 20px;
      color: $textWhite;
      margin: 5px;
    }
    :global(.ant-result-extra a) {
      background-color: $borderLight;
      border: $borderLight;
      color: $textBlack;
      font-family: $fontText;
      text-align: center;
      padding: 9px;
      margin: 15px;
      width: fit-content;
      font-size: 20px;

      &:hover {
        background-color: rgb(136, 129, 175);
        color: $textWhite;
        font-family: $fontText;
        text-align: center;
        padding: 9px;
        margin: 15px;
      }
    }
    :global(.ant-btn-primary) {
      background-color: $borderLight;
      border: $borderLight;
      color: $textBlack;
      font-family: $fontText;
      margin: 15px;
      padding: 0 0.5rem;
      width: min-content;
    }
    :global(.ant-btn-primary:hover) {
      background-color: rgb(136, 129, 175);
      color: $textWhite;
      font-family: $fontText;
      padding: 0;
      margin: 15px !important;
    }
  }
}
