@import 'variables';

.shopListContainer {
  .container {
    padding: 15px;

    @media (min-width: 640px) {
      padding: 15px;
      min-width: 50%;
      flex: 1;
      margin: 0;
    }
  }
  @media (min-width: 1700px) {
    width: 70%;
    margin: 0 auto;
  }

  @media (min-width: 640px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: baseline;
    align-self: center;
  }
  img {
    box-shadow: 0 12px 14px rgba(0, 0, 0, 0.15);
  }
}
